@use '../../scss/snipets/adaptiveValue' as adaptive;
@import '../../style.scss';




.header {
    position: sticky;
    top: 0;
    z-index: 100;
    &__top {
        display: block;
        background-color: #fff;
        color: black;
    }
    &__catalog {
        background-color: black;
        color: white;
    }
}
.top-header {
    
    &__container {
        @include adaptiveValue("padding-left", 20, 0);
        @include adaptiveValue("padding-right", 20, 0);
        display: flex;
        min-height: 80px;
        align-items: center;
        justify-content: space-between;
    }

    &__search {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;       
    }

    &__logo {
        @include adaptiveValue("width", 150, 184)
    }
}

.actions-header {
    height: 42px;
    display: flex;
    align-items: center;
    gap: 26px;
    
    &__group {
        position: relative;
        width: 28px;
        height: 42px;
        display: flex;
        align-items: center;

    }
    
    &>li {
        @media (max-width: 438px) {
            display: none;
        }
    }

    &>li:nth-child(4) {
        @media (max-width: 768px) {
            display: none;
        }
    }

    &__profiel {
        height: 22px;
        width: 22px;
        display: flex;
        align-items: center;
        margin-left: 78px;
    }
}

.group {
    cursor: pointer;
    &__counterLike {
        position: absolute;
        right: 0;
        height: 18px;
        width: 18px;
        color: white;
        background-color: $darkBlue;
        border-radius: 90px;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center
    }

    &__button {
        @include adaptiveValue("width", 80, 99);
        @include adaptiveValue("height", 40, 48);
        background-color: $darkBlue;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
    }
}


.catalog-header {
    &__container {
        min-height: 60px;
        @media (max-width: 768px) {
            display: none;
        }
    }
}


.catalog-action {
    display: flex;
    align-items: center;
    min-height: 60px;
    @media (max-width: 1024px) {
        justify-content: center;
    }
    &__ul {
        padding-left: 30px;
        display: flex;
        gap: 60px;
        white-space: nowrap;
        @media (max-width: 1340px) {
            @include adaptive.adaptiveValueWidth('padding-left', 5, 30, 1340, 768);
            @include adaptive.adaptiveValueWidth('gap', 20, 60, 1340, 1024)
        }
        @media (max-width: 1024px) {
            padding-left: 0;
            @include adaptive.adaptiveValueWidth('gap', 6, 20, 1024, 768)
        }
    }

    &__block {
        width: 310px;
        display: flex;
        align-items: center;
        height: 60px;
        background-color: $darkBlue;

        @media (max-width: 1340px) {
            @include adaptive.adaptiveValueWidth('max-width', 231, 310, 1340, 1024);
            @include adaptive.adaptiveValueWidth('min-width', 231, 310, 1340, 1024);
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }

    &__block>svg {
        margin: 0 10px 0 20px; 
        @media (max-width: 1300px) {
            @include adaptiveValue('margin-left', 1, 34)
        }
    }
}

.content {
    display: flex;
    @media (max-width: 1024px) {
        justify-content: center;
    }
    
    &__blockImg {
        max-width: 970px;
        margin-top: 20px;
        margin-left: 20px;
        
    }

    &__blockImg {
        @media (max-width: 1024px) {
            max-width: 975px;
            width: 975px;
            margin-left: 0;
        }
        @media (max-width: 768px) {
            margin-top: 0;
        }
    }
}

.logoImg {
    width: 100%; 
}

