@use '../../scss/color';

@mixin cardGood($width) {
    color: black;
    margin-bottom: 40px;
    width: $width;
    border: 1px solid #EAEAF0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;

    &__picture {
        height: 280px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &>img {
            max-height: 260px;
            max-width: 100%;
            vertical-align: middle;
            @media (max-width: 425px) {
                max-height: 140px;
        }
        }

        @media (max-width: 425px) {
            height: 180px;
        }
    }
    &__title {
        margin-top: 8px;
        display: block;
        overflow: hidden;
        height: 40px;
        font-size: 18px;
        color: black;
        text-decoration: none;

        &:hover {
            color: red;
            text-decoration: underline;
        }
    }

    &__actions {
        display: flex;
        align-items: flex-start;
    }

    &__action-like {
        width: 48px;
        height: 48px;
        border: 1px solid #C8CACB;
        border-radius: 4px;
        background-image: url('../../svg/Like.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        &:hover {
            background-color: rgba($color: grey, $alpha: 0.2);
        }

        &.active {
            background-image: url('../../svg/LikeActive.svg');
        }
    }

    &__action-basket {
        margin-left: 8px;
        width: 48px;
        height: 48px;
        background-image: url('../../svg/Basket.svg');

        &.active {
            background-image: url('../../svg/BasketActive.svg');
        }
    }

    &__pryce {
        font-size: 24px;
        font-weight: 600;
        &>span {
            font-size: 22px;
        }
    }

    &__action-buy {
        display: flex;
        margin-top: 10px;
        justify-content: center;
        border: solid color.$blue 1px;
        width: 100%;
        height: 48px;
        border-radius: 4px;
        padding: 10px;
        gap: 10px;
        align-items: center;
        font-weight: 700;
        color: color.$blue;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
            background-color: color.$blue;
            color: #fff;
        }

        &.active {
            background-color: color.$blue;
            color: #fff;

            &:hover {
                background-color: rgba($color: color.$blue, $alpha: 0.9);
            }
        }
    }
}




@mixin cardGoodMediaOption($firstWidth, $twoWidth) {
    @media (max-width: 1024px) {
        width: $firstWidth;
    }
    @media (max-width: 768px) {
        width: $twoWidth;
    }
}

// filter: grayscale(100%);
//     opacity: 0.65;
//     -webkit-transition: all 0.3s;
//     -o-transition: all 0.3s;
//     transition: all 0.3s;

//     &:hover {
//         filter: grayscale(0%);
//         opacity: 1;
//     }